<h1><%= APP.title    %></h1>
<div class='tab'>
<h2>Welcome </h2>
 <p>Welcome! Thank you for participating in this study. Today you are going to be taking a French perception study. There will be a series of sixty sentences. You will have to decide what the sentence means based on the context which will take approximately sixty minutes to complete.</p>

</div>
<div class='tab'>
<h2>Instructions </h2>
<p>Instructions pour l’experience
<br></br>
Cette expérience vous presente 56 questions. Pour chacune de ces questions, vous avez 3 tâches à faire.
<br></br>
EN PREMIER, vous devez évaluer une phrase dans son contexte. Lisez le contexte et la phrase et décidez si elle est VRAIE ou FAUSSE en cliquant sur les boutons pertinents.
Cliquez SUIVANT pour continuer
<br></br>
EN SECOND, relisez le contexte. Écoutez deux enregistrements de la phrase en pressant sur les boutons-audios. Choisissez l’enregistrement qui vous parait le plus naturel en pressant soit 1 soit 2. Vous pouvez réécouter les enregistrements une fois si nécessaire.
Cliquez SUIVANT pour continuer
<br></br>
EN TROISIÈME, évaluez la confiance que vous avez dans votre choix sur une échelle de 1 à 5 oú 1 = pas confiant du tout et 5 = très confiant
Cliquez SUIVANT pour passer à la question suivante
<br></br>
Vous aurez quatre essais pour vous entraîner
<br></br>
Quand vous aurez fini, merci de remplir un bref questionnaire démographique. Cliquez SUIVANT pour finir l'expérience.
</p>

</div>
<div class='tab'>
<h2>Terms and Condition </h2>
         <p>hello</p>	
  <label for="terms">Accept terms and condition</label>	 <input type="checkbox" id="terms" name="terms" value="yes">

</div>
<!-- Trial Screen --->
<% for(var i=0; i<APP.trial.length; i++) { %>
        <div class='tab'>TRIAL <%= i+1 %>
		<div class="accordion">
		<h3>Step1 </h3>
		 <div>
		 <p>Context: <%= APP.trial[i].context %> </p>
		 <p>Target: <%= APP.trial[i].target %> </p>
		 </div>
		 <h3>Verification </h3>
		 <div>
		 <p>Context: <%= APP.trial[i].context %> </p>
		 <p>Target: <%= APP.trial[i].target %> </p>
		  <p>Verification: <%= APP.trial[i].verification %> </p>
		  <input align="middle" type="radio" name='<%="trial"+i %>' id='<%="trial"+i+"true" %>' > True </input>
          <input align="middle" type="radio" name='<%="trial"+i %>' id='<%="trial"+i+"false" %>' value="false"> False</input>
		 </div>
        </div>

        </div>

<% } %>


<% for(var i=0; i<APP.trial_screen.length; i++) { %>
        <div class='tab'><%= APP.trial_screen[i].name %>
		<% for(var j=0; j <APP.trial_screen[i].inputs.length; j++) { %>

			<p><input placeholder='<%= APP.trial_screen[i].inputs[j] %>' oninput="this.className = ''"></p>

        <% } %>
        </div>

<% } %>

<% for(var i=0; i< LING_CFG.blocks_count; i++) {

	for(var j=0; j< LING_CFG.items_inblock; j++) {
    var qid = LING_CFG.blocks[i][j];
	console.log("I :"+i  + "..J:"+ j + "..QID:"+ qid);

%>

        <div class='tab' ><%name="blocks_"+qid %>
		<div class="accordion">
		<h3>Block:<%= i+1 +"/"+ j+1 + "("+ qid + ")" %> </h3>
	    <div>
		<p>Context: <%= LING_CFG.questions[qid][3] %> </p>
		 <p>Target: <%= LING_CFG.questions[qid][4] %> </p>
		</div>
		<h3>Verification</h3>
	    <div>
         <p>Verification: <%= LING_CFG.questions[qid][4] %> </p>
		 </div>
		<h3>Audio Test</h3>
		<div>
         <button id='<%= LING_CFG.questions[qid][1] %>' type="button"  value="1" onclick="myFunction(<%=qid%>)"  > Audio1.. </button>
        <button id='<%= LING_CFG.questions[qid][2] %>' type="button"  value="1" onclick="myFunction(<%=qid%>)"  > Audio2.. </button>
		<input type="radio" name='<%="block"+qid %>' id='<%="block"+qid+"a1" %>' onclick="myAudioselection(<%=qid +","+ 1%>)" > Audio1 </input>
        <input type="radio" name='<%="block"+qid %>' id='<%="block"+qid+"a2" %>' onclick="myAudioselection(<%=qid +","+2%>)" > Audio2 </input>
		</div>
		<h3>Confidence Test</h3>
		<div>
		 <p>
		<label for="confident">Confident Level (0-10):</label>
		<input class="confident_class" type="text" id='<%="conf"+qid %>' readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div class="slider-range-max"></div>
		</div>
        </div>
		</div>

<%} } %>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
<%
    var scrcnt = APP.trial.length+1+ (LING_CFG.blocks.length*LING_CFG.items_inblock);
	for(var i=0; i<scrcnt; i++) { %>
  <span class="step"></span>
<% } %>

</div>
